@{
    ViewData["Title"] = @Locals["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Locals["Welcome"]</h1>
    <p>@Locals["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@Locals["building Web apps with ASP.NET Core"]</a>.</p>
</div>
